version: '3.8'

services:
  web:
    build: .
    # 初回は安定稼働のため rails server で起動
    command: bundle exec rails server -p 3000 -b '0.0.0.0'
    volumes:
      - .:/hitonohagoromo
      - bundle_data:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db
    tty: true
    stdin_open: true
    environment:
      POSTGRES_HOST: db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password

  db:
    image: postgres:14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      # Railsの database.yml と名前を一致させる
      POSTGRES_DB: hitonohagoromo_development
    ports:
      - "5432:5432"

volumes:
  postgres_data:
  bundle_data: