<!DOCTYPE html>
<html>
<head>
  <title>ヒトノハゴロモ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%# Tailwind CSS CDNをロード %>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-50">
  <%# メインコンテンツエリア %>
  <%# ここに各ページの内容（が読み込まれる）%>
  <main>
    <%= yield %>
  </main>
</body>
</html>